# PxStatsPy (beta)
## The Python wrapper for The PxWebAPI 2.0 (beta)

A comprehensive Python wrapper for the Statistics Sweden PxWebAPI 2.0 (beta), providing easy access to Swedish statistical data.

## Setup and configuration
Configure the API by providing the base url for the PxWebAPI 2.0 (beta) version and set up the client. Get the API configuration by calling `get_config()`.

In [1]:
#Import pxstatspy
from pxstatspy import PxAPI, PxAPIConfig, OutputFormat, OutputFormatParam

# Set up client
config = PxAPIConfig(
    base_url="https://api.scb.se/OV0104/v2beta/api/v2",     # Set base url for API
    language="en"  # or "sv" for Swedish
)
client = PxAPI(config)

In [2]:
# Get API configuration
client.get_config()

{'apiVersion': '2.0.0-beta.18',
 'appVersion': '1.0.0',
 'languages': [{'id': 'sv', 'label': 'Svenska'},
  {'id': 'en', 'label': 'English'}],
 'defaultLanguage': 'sv',
 'maxDataCells': 150000,
 'maxCallsPerTimeWindow': 30,
 'timeWindow': 10,
 'license': 'https://creativecommons.org/share-your-work/public-domain/cc0/',
 'sourceReferences': [{'language': 'sv', 'text': 'KÃ¤lla: SCB'},
  {'language': 'en', 'text': 'Source: Statistics Sweden'}],
 'defaultDataFormat': 'px',
 'dataFormats': ['json-stat2',
  'csv',
  'px',
  'xlsx',
  'html',
  'json-px',
  'parquet'],
 'features': [{'id': 'CORS', 'params': [{'key': 'enabled', 'value': 'True'}]}]}

## Search database
The PxStatsPy wrapper offers multiple ways to search for tables in the database.

### Search tables in database
Use the `find_tables()` or `find_tables_as_dataframe()` functions to search for tables matching a keyword. Filter your search with the past_days parameter to get recently updated tables. 

These functions are useful for setting up automated data pipelines as you can get ids for updated tables and look up against your reference table before reading in new data to your application or database.

In [ ]:
# Search for specific tables with query
tables = client.find_tables(
    query="Population",
    page_number=1,  # Use tho view other pages
    past_days=5,    # Updated in the 5 past days
    page_size=3,    # Number of results per page
    display=True    # True returns pretty results, False returns raw API response
)

Found 42 tables matching 'Population' updated in the last 5 days (Page 1 of 14)

ID         Updated      First    Last     Title
----------------------------------------------------------------------
TAB1625    2025-02-21  2000M01 2024M12 Population statistics by region and sex. Month 2000M01-2024M12
           Variables: region, population changes, sex, observations, month

TAB5169    2025-02-21  2000    2024    Population statistics per quarter by region and sex. Year 2000-2024
           Variables: region, population changes, period, sex, observations, year

TAB4365    2025-02-21  1749    2024    Population and population changes in Sweden by sex. Year 1749-2024
           Variables: sex, observations, year

Page 1 of 14. Use page_number parameter to view other pages.

#### Get results as a Pandas DataFrame
Use the `find_tables_as_dataframe()` function to retrieve table search results as a Pandas DataFrame.

In [2]:
# Search for specific tables with query and return as Pandas DataFrame
tables_df = client.find_tables_as_dataframe(
    query="CPI",
    past_days=15,
    all_pages=True
)

tables_df

Found 7 tables matching 'CPI' updated in the last 15 days

,id,label,updated,first_period,last_period,variables,category
0,TAB3673,"Consumer Price Index (CPI), monthly and annual...",2025-02-18 07:00:00+00:00,2014M01,2025M01,"[economic indicator, observations, month]",public
1,TAB5737,"Consumer Price Index (CPI), total 1980=100. Mo...",2025-02-18 07:00:00+00:00,1980M01,2025M01,"[observations, month]",public
2,TAB5921,Consumer Price Index at constant taxes (CPI-CT...,2025-02-18 07:00:00+00:00,1980M01,2025M01,"[observations, month]",public
3,TAB5512,Consumer Price Index (CPI) by product group (C...,2025-02-18 07:00:00+00:00,1980M01,2025M01,"[Product group, observations, month]",public
4,TAB674,"Consumer Price Index (CPI) Year, Weights and I...",2025-02-18 07:00:00+00:00,2005,2023,"[Product group, observations, year]",public
5,TAB5160,"Consumer Price Index (CPI) by product group, 1...",2025-02-18 07:00:00+00:00,1980M01,2025M01,"[product group, observations, month]",public
6,TAB2075,"Consumer Price Index (CPI)/Living Cost Index, ...",2025-02-18 07:00:00+00:00,1914M01,2025M01,"[observations, month]",public

## Get data from database table

To get data from a table you need the unique table id.

### Print table variables
To view available variables in a table you can use the `print_table_variables()`function.

In [4]:
# Get data for a specific table
table_id = "TAB1267"

# Print available variables
client.print_table_variables(table_id, max_values=1)  # Use "*" to show all values

Table: Population 1 November, number by region, age, sex, observations and year

Available variables:

region (Region):
First 1 values:
  - Sweden (Code: 00)
... and 311 more values

age (Alder):
First 1 values:
  - 0 years (Code: 0)
... and 101 more values

sex (Kon):
First 1 values:
  - men (Code: 1)
... and 1 more values

observations (ContentsCode):
First 1 values:
  - Number (Code: BE0101A9)

year (Tid):
First 1 values:
  - 2002 (Code: 2002)
... and 22 more values

In [42]:
# Show specific variable
client.print_table_variables(table_id, variable_id="Region") # Specify variable_id

Table: Population 1 November, number by region, age, sex, observations and year

Values for region (Region):
First 10 values:
  - 00 Sweden (Code: 00)
  - 01 Stockholm county (Code: 01)
  - 0114 Upplands VÃ¤sby (Code: 0114)
  - 0115 Vallentuna (Code: 0115)
  - 0117 ÃsterÃ¥ker (Code: 0117)
  - 0120 VÃ¤rmdÃ¶ (Code: 0120)
  - 0123 JÃ¤rfÃ¤lla (Code: 0123)
  - 0125 EkerÃ¶ (Code: 0125)
  - 0126 Huddinge (Code: 0126)
  - 0127 Botkyrka (Code: 0127)

... and 302 more values

### Get data as Pandas DataFrame
Use the `get_data_as_dataframe()`function to get data as a Pandas DataFrame.

In [ ]:
# Get data as Pandas DataFrame
df = client.get_data_as_dataframe(
    table_id=table_id,
    value_codes={
        "Tid": ["FROM(2020)"],         # Use FROM(Start) to get all values from specified
        "Region": ["01"],              
        "ContentsCode": ["BE0101A9"]
    },
    clean_colnames=True     # Get dataframe with cleaner output
)

df.head()

Retrieving data from table TAB1267
Calculated data cells: 5

Successfully retrieved 5 rows of data

  region_code            region  year   number
0          01  Stockholm county  2020  2391841
1          01  Stockholm county  2021  2411859
2          01  Stockholm county  2022  2437158
3          01  Stockholm county  2023  2455914
4          01  Stockholm county  2024  2471773

The PxStatsPy wrapper automatically handles the API rate limits to ensure calls do not exceed neither data nor time limits. If the calculated number of data cells exceeds the API limit (currently 150 000 data cells) the data will be retrieved in batches.

In [3]:
# Run large API call
df_batches = client.get_data_as_dataframe(
    table_id=table_id,
    value_codes={
        "Tid": ["*"],           # Use the "*" wildcard to get all values
        "Region": ["14*"],      # Use "14*" wildcard to get all values starting with 14
        "Alder": ["*"],
        "Kon": ["*"],
        "ContentsCode": ["BE0101A9"]
    }
)

df_batches

Retrieving data from table TAB1267
Calculated data cells: 234.6K
Request will be split into 2 parts using variable 'Alder'
Processing data in batches... . Done!

Successfully retrieved 234,600 rows of data

       region_code                  region      age    sex  year  Number
0               14  VÃ¤stra GÃ¶taland county  0 years    men  2002    6926
1               14  VÃ¤stra GÃ¶taland county  0 years    men  2003    7311
2               14  VÃ¤stra GÃ¶taland county  0 years    men  2004    7536
3               14  VÃ¤stra GÃ¶taland county  0 years    men  2005    7627
4               14  VÃ¤stra GÃ¶taland county  0 years    men  2006    7962
...            ...                     ...      ...    ...   ...     ...
234595        1499               FalkÃ¶ping    total  women  2020   16545
234596        1499               FalkÃ¶ping    total  women  2021   16494
234597        1499               FalkÃ¶ping    total  women  2022   16518
234598        1499               FalkÃ¶ping    total  women  2023   16395
234599        1499               FalkÃ¶ping    total  women  2024   16292

[234600 rows x 6 columns]

#### Selection Criteria

The API supports powerful selection expressions for filtering data. These expressions can be used with `get_data_as_dataframe()` and other data retrieval methods through the value_codes parameter.

Selection Expression Rules:

- Wildcard (*) can be used at start, end, or middle of pattern
- Question mark (?) matches exactly one character
- RANGE requires both start and end values: RANGE(start,end)
- FROM/TO expressions take a single value: FROM(start) or TO(end)
- BOTTOM/TOP expressions take a single value: BOTTOM(5) show last five, TOP(5) shows first five

All expressions are case-insensitive and a maximum of two wildcards can be given per pattern.

In [ ]:
# Combine multiple selection criteria
df_multiple = client.get_data_as_dataframe(
    table_id=table_id,
    value_codes={
        "Region": ["01*", "12*"],            # Regions starting with 01 or 12
        "Tid": ["RANGE(2020,2024)"],         # Years 2020-2024
        "ContentsCode": ["BE0101A9"]
    }
)

df_multiple

Retrieving data from table TAB1267
Calculated data cells: 305

Successfully retrieved 305 rows of data

    region_code            region  year   Number
0            01  Stockholm county  2020  2391841
1            01  Stockholm county  2021  2411859
2            01  Stockholm county  2022  2437158
3            01  Stockholm county  2023  2455914
4            01  Stockholm county  2024  2471773
..          ...               ...   ...      ...
300        1293        HÃ¤ssleholm  2020    52086
301        1293        HÃ¤ssleholm  2021    52290
302        1293        HÃ¤ssleholm  2022    52366
303        1293        HÃ¤ssleholm  2023    52245
304        1293        HÃ¤ssleholm  2024    52175

[305 rows x 4 columns]

In [ ]:
# Match exactly one character
df_match = client.get_data_as_dataframe(
    table_id=table_id,
    value_codes={
        "Region": ["0?", "1?", "2?"], # Two-digit codes starting with 0, 1 and 2 (Sweden plus all counties)
        "Tid": ["2024"],
        "ContentsCode": ["BE0101A9"]
    }
)

df_match

Retrieving data from table TAB1267
Calculated data cells: 22

Successfully retrieved 22 rows of data

   region_code                  region  year    Number
0           00                  Sweden  2024  10587140
1           01        Stockholm county  2024   2471773
2           03          Uppsala county  2024    407698
3           04     SÃ¶dermanland county  2024    301723
4           05     ÃstergÃ¶tland county  2024    472723
5           06        JÃ¶nkÃ¶ping county  2024    369857
6           07        Kronoberg county  2024    203445
7           08           Kalmar county  2024    246408
8           09          Gotland county  2024     61000
9           10         Blekinge county  2024    157365
10          12            SkÃ¥ne county  2024   1428503
11          13          Halland county  2024    344931
12          14  VÃ¤stra GÃ¶taland county  2024   1773015
13          17         VÃ¤rmland county  2024    283489
14          18           Ãrebro county  2024    308473
15          19      VÃ¤stmanland county  2024    281326
16          20          Dalarna county  2024    286368
17          21        GÃ¤vleborg county  2024    284651
18          22   VÃ¤sternorrland county  2024    241611
19          23         JÃ¤mtland county  2024    132708
20          24     VÃ¤sterbotten county  2024    281490
21          25       Norrbotten county  2024    248583

#### Output format parameters
The API supports retrieval of data in different forms. Use the class OutputFormatParam to retrieve data in any of the available forms.

- USE_TEXTS (default)
- USE_CODES
- USE_CODES_AND_TEXTS

In [2]:
# Include both codes and text labels
df_detailed = client.get_data_as_dataframe(
    table_id="TAB1278",
    value_codes={
        "Tid": ["2023", "2024"],
        "Region": ["00", "01", "0180"],
        "Fordonsslag": ["10"],
        "ContentsCode": ["TK1001AC"]
    },
    output_format_param=OutputFormatParam.USE_CODES_AND_TEXTS,
    clean_colnames=True
)

df_detailed

Retrieving data from table TAB1278
Calculated data cells: 6

Successfully retrieved 6 rows of data

  region_code            region      type_of_vehicle  year   number
0          00            Sweden  10 - passenger cars  2023  4977163
1          00            Sweden  10 - passenger cars  2024  4977791
2          01  Stockholm county  10 - passenger cars  2023   967916
3          01  Stockholm county  10 - passenger cars  2024   983506
4        0180         Stockholm  10 - passenger cars  2023   353523
5        0180         Stockholm  10 - passenger cars  2024   352934

#### Region types

The PxStatsPy wrapper supports selection of DeSO and RegSO regional types when applicable. The function `get_data_as_dataframe()` will get both deso and regso but setting region_type to "deso" or "regso" filters for region type.

In [62]:
# Filter for specific region types (DeSO/RegSO)
df_regso = client.get_data_as_dataframe(
    table_id="TAB6258",
    value_codes={
        "Tid": ["2023"],
        "Region": ["0114*"],
        "ContentsCode": ["000006OC"]
    },
    region_type="regso"         # Use "deso" or "regso"
)

df_regso.head()

Retrieving data from table TAB6258
Calculated data cells: 35

Successfully retrieved 12 rows of data

   region_code                                            region  year  Number
23    0114R001                       Upplands VÃ¤sby (BollstanÃ¤s)  2023    2208
24    0114R002                 Upplands VÃ¤sby (Hammarby-Vaxmyra)  2023    1148
25    0114R003  Upplands VÃ¤sby (Odenslunda norra-Frestaby-Ekeby)  2023    1738
26    0114R004         Upplands VÃ¤sby (Odenslunda sÃ¶dra-Bredden)  2023    1154
27    0114R005                      Upplands VÃ¤sby (Runby norra)  2023     899

#### Raw Data Formats

Retrieve data in various formats using `get_table_data()`. Use the class OutputFormat to select from available formats.

- JSON_STAT2
- JSON_PX
- PX
- CSV
- XLSX
- HTML
- PARQUET

In [64]:
# Get JSON-stat2 format
json_data = client.get_table_data(
    table_id=table_id,
    value_codes={
        "Tid": ["2023"],
        "Region": ["00", "01"],
        "ContentsCode": ["BE0101A9"]
    },
    output_format=OutputFormat.JSON_STAT2 # Use OutputFormat class
)

json_data

Retrieving data from table TAB1267
Calculated data cells: 2

{'version': '2.0',
 'class': 'dataset',
 'label': 'Population 1 November, number by region, observations and year',
 'source': 'Statistics Sweden',
 'updated': '2024-12-10T07:00:00Z',
 'note': ['The population is reported according to the division into administrative areas that applied on 1 January each Year.'],
 'role': {'time': ['Tid'], 'metric': ['ContentsCode']},
 'id': ['Region', 'ContentsCode', 'Tid'],
 'size': [2, 1, 1],
 'dimension': {'Region': {'label': 'region',
   'category': {'index': {'00': 0, '01': 1},
    'label': {'00': 'Sweden', '01': 'Stockholm county'}},
   'extension': {'elimination': True,
    'eliminationValueCode': '00',
    'show': 'code_value'}},
  'ContentsCode': {'label': 'observations',
   'category': {'index': {'BE0101A9': 0},
    'label': {'BE0101A9': 'Number'},
    'unit': {'BE0101A9': {'base': 'number', 'decimals': 0}}},
   'extension': {'elimination': False,
    'refperiod': {'BE0101A9': '1 November each year'},
    'show': 'value'}},
  'Tid': {'label': 'year',
   'category': {'index': {'2023': 0}, 'label': {'2023': '2023'}},
   'extension': {'elimination': False, 'show': 'code'}}},
 'extension': {'noteMandatory': {'0': True},
  'px': {'infofile': 'BE0101',
   'tableid': 'TAB1267',
   'decimals': 0,
   'official-statistics': True,
   'aggregallowed': True,
   'language': 'en',
   'contents': 'Population 1 November, number',
   'descriptiondefault': False,
   'heading': ['ContentsCode', 'Tid'],
   'stub': ['Region'],
   'matrix': 'BE0101A9',
   'subject-code': 'BE',
   'subject-area': 'Population'},
  'contact': [{'name': ' Statistikservice',
    'phone': '010-479 50 00',
    'mail': 'information@scb.se',
    'raw': ' Statistikservice, Statistics Sweden# +46 010-479 50 00#information@scb.se'}]},
 'value': [10557682, 2455914]}

### Get metadata
Use the `get_table_metadata()`function to retrieve all available metadata for a table.

In [ ]:
# Get metadata
metadata = client.get_table_metadata(
    table_id,
    output_format="json-stat2"  # output_format is "json-stat2"
)

## Error Handling

The library provides comprehensive error handling.

Common error scenarios:
- Invalid table ID or other parameters
- Invalid URL
- Network connectivity issues
- Wrapper bug (please report an issue on github)

When reporting an issue, please enable the `client.debug=True` mode and provide the entire error message for replication and troubleshooting.

In [ ]:
# Initialize client with debug=True mode to troubleshoot if errors occur
client = PxAPI(PxAPIConfig(
    base_url="https://api.scb.se/OV0104/v2beta/api/v2",
    language="en"
))
client.debug=True

In [ ]:
from pxstatspy import PxAPIError

try:
    # Attempt to get data for invalid table
    data = client.get_table_data("INVALID_ID")
except PxAPIError as e:
    print(f"API Error: {e}")
    # Handle specific error cases
except Exception as e:
    print(f"Unexpected error: {e}")
    # Handle other errors

DEBUG: Making API request
Method: GET
URL: https://api.scb.se/OV0104/v2beta/api/v2/tables/INVALID_ID/metadata
Parameters: {'outputFormat': None, 'defaultSelection': False}

Error Response:
Status code: 404
Error details: 404 Client Error: Not Found for url: https://api.scb.se/OV0104/v2beta/api/v2/tables/INVALID_ID/metadata?defaultSelection=False&lang=en
API Error: HTTP error: 404 Client Error: Not Found for url: https://api.scb.se/OV0104/v2beta/api/v2/tables/INVALID_ID/metadata?defaultSelection=False&lang=en